<html>
  
  <head>
    <!-- load libs -->
    <script src="lib/jquery-1.6.4.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone-0.5.3.js"></script>
    <!-- form helper -->
    <script src="js/backbone-form-helper.js"></script>
    <!-- load models and views -->
    <script src="js/example.js"></script>
    <!-- styles -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  
  <body>

    <!-- Contact Template -->
    <script id="contact_template" type="text/html">
      <% BackboneFormHelper.form(contact, function(f) { %>
        <table>
          <tr>
            <td><%= f.label('first_name', 'First Name') %> </td>
            <td><%= f.text('first_name', {placeholder: 'First Name'}) %></td>
          </tr>
          <tr>
            <td><%= f.label('last_name', 'Last Name') %> </td>
            <td><%= f.text('last_name', {placeholder: 'Last Name'}) %></td>
          </tr>
          <!-- A field with an error -->
          <tr>
            <td><%= f.label('email', 'Email') %> </td>
            <td><%= f.text('email', {placeholder: 'Email'}) %></td>
          </tr>
          <tr>
            <td><%= f.label('street_1', 'Street Address 1') %> </td>
            <td><%= f.text('street_1', {placeholder: 'Street Address 1'}) %></td>
          </tr>
          <tr>
            <td><%= f.label('street_2', 'Street Address 2') %> </td>
            <td><%= f.text('street_2', {placeholder: 'Street Address 2'}) %></td>
          </tr>
          <tr>
            <td><%= f.label('city', 'City') %> </td>
            <td><%= f.text('city', {placeholder: 'City'}) %></td>
          </tr>
          <tr>
            <td><%= f.label('state', 'State') %> </td>
            <td><%= f.text('state', {placeholder: 'State'}) %></td>
          </tr>
          <tr>
            <td><%= f.label('zip', 'Zip') %> </td>
            <td><%= f.text('zip', {placeholder: 'Zip'}) %></td>
          </tr>
          <tr>
            <td><%= f.label('is_admin', 'Administrator') %> </td>
            <td><%= f.checkbox('is_admin') %></td>
          </tr>
        </table>
      <% }) %>
    </script>

    <!-- content -->
    <div id="content">
      <h3>Contact form</h3>
      <div id="contact-form-container">
        <form id="ok-contact-form"> </form>
      </div>
    </div>

  </body>

</html>

