<html>
  
  <head>
    <!-- load libs -->
    <script src="lib/jquery-1.7.1.min.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone-0.5.3.js"></script>
    <!-- form helper -->
    <script src="js/backbone-form-helper.js"></script>
    <!-- load models and views -->
    <script src="js/page.js"></script>
    <!-- styles -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  
  <body>

    <!-- 
    Contact Template.
    The template would normally be in a jst file in a rails application 
    but is defined here since this is a standalone html page.
    The load_templates() function is used to load this into an underscore 
    template.
    -->
    <script id="contact_template" type="text/html">
      <!-- Initialize the form helper with the model whose fields are to be displayed -->
      <% BackboneFormHelper.form(contact, function(f) { %>
        <%= f.begin({name: 'contact_form', id: 'contact_form' }) %>
        <%= f.print_errors() %>
        <table>
          <tr>
            <!-- A label -->
            <td><%= f.label('first_name', 'First Name') %> </td>
            <!-- A textfield -->
            <td><%= f.text('first_name', {placeholder: 'First Name'}) %></td>
          </tr>
          <tr>
            <td><%= f.label('last_name', 'Last Name') %> </td>
            <td><%= f.text('last_name', {placeholder: 'Last Name'}) %></td>
          </tr>
          <!-- Textarea -->
          <tr>
            <td><%= f.label('about', 'About') %> </td>
            <!-- A textarea -->
            <td><%= f.textarea('about', {placeholder: 'About'}) %></td>
          </tr>
          <!-- A field with an error -->
          <tr>
            <td><%= f.label('email', 'Email') %> </td>
            <td><%= f.text('email', {placeholder: 'Email'}) %></td>
          </tr>
          <tr><td><h3>Address</h3></td><td></td></tr>
          <tr>
            <td><%= f.label('street_1', 'Street Address 1') %> </td>
            <td><%= f.text('street_1', {placeholder: 'Street Address 1'}) %></td>
          </tr>
          <tr>
            <td><%= f.label('street_2', 'Street Address 2') %> </td>
            <td><%= f.text('street_2', {placeholder: 'Street Address 2'}) %></td>
          </tr>
          <tr>
            <td><%= f.label('city', 'City') %> </td>
            <td><%= f.text('city', {placeholder: 'City'}) %></td>
          </tr>
          <tr>
            <td><%= f.label('state', 'State') %> </td>
            <td><%= f.text('state', {placeholder: 'State'}) %></td>
          </tr>
          <tr>
            <td><%= f.label('country', 'Country') %> </td>
            <td><%= f.select('country', countries) %></td>
          </tr>
          <tr>
            <td><%= f.label('zip', 'Zip') %> </td>
            <td><%= f.text('zip', {placeholder: 'Country'}) %></td>
          </tr>
          <tr>
            <td><%= f.label('is_admin', 'Administrator') %> </td>
            <!-- A checkbox -->
            <td><%= f.checkbox('is_admin') %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.hidden('id') %></td>
          </tr>
          <tr><td><input type="submit" value="Submit" id="submit_contact_form"></td></tr>
        </table>
        <%= f.end() %>
      <% }) %>
    </script>

    <!-- main page content -->
    <div id="content">
      <h3>Contact form</h3>
      <div id="form-container">
      </div>
    </div>

  </body>

</html>

