<html>
  
  <head>
    <!-- load libs -->
    <script src="../lib/jquery-1.7.1.min.js"></script>
    <script src="../lib/underscore.js"></script>
    <script src="../lib/backbone-0.5.3.js"></script>
    <!-- form helper -->
    <script src="../js/backbone-form-helper.js"></script>
    <!-- load models and views -->
    <script src="../js/data.js"></script>
    <!-- styles -->
    <link rel="stylesheet" href="../css/style.css">
  </head>

  <script type="text/javascript">
    // Initialize BackboneFormHelper
    BackboneFormHelper.init({
      errorPlacement: 'field', 
      errorFieldClass: 'field-with-error',
      errorLabelClass: 'field-error-message',
      wrapper: '<li>'
    });
  </script>

  <script type="text/javascript">
    // ###Render the view###
    // On document load, render the view.
    $(document).ready(function() {
      // load the templates.
      load_templates();
      // Create contact views with json data
      var view = new ContactView({model: new Contact(data)});
      // render the contact
      $('#form-container').append(view.render().el);
    });
  </script>
  <body>

    <!-- 
    Contact Template.
    The template would normally be in a jst file in a rails application 
    but is defined here since this is a standalone html page.
    The load_templates() function is used to load this into an underscore 
    template.
    -->
    <script id="contact_template" type="text/html">
      <!-- Initialize the form helper with the model whose fields are to be displayed -->
      <% BackboneFormHelper.form(contact, function(f) { %>
        <%= f.begin({name: 'contact_form', id: 'contact_form' }) %>
        <div>
          <ul>
            <%= f.errorMessages() %>
          </ul>
        </div>
        <table>
          <tr>
            <!-- A label -->
            <td><%= f.label('first_name', {value: 'First Name'}) %> </td>
            <!-- A textfield -->
            <td><%= f.text('first_name', {placeholder: 'First Name'}) %></td>
          </tr>
          <tr>
            <td><%= f.label('last_name', {value: 'Last Name'}) %> </td>
            <td><%= f.text('last_name', {placeholder: 'Last Name'}) %></td>
          </tr>
          <!-- Textarea -->
          <tr>
            <td><%= f.label('about', {value: 'About'}) %> </td>
            <!-- A textarea -->
            <td><%= f.textarea('about', {placeholder: 'About'}) %></td>
          </tr>
          <!-- A field with an error -->
          <tr>
            <td><%= f.label('email', {value: 'Email'}) %> </td>
            <td><%= f.text('email', {placeholder: 'Email'}) %></td>
          </tr>
          <br>
          <tr><td><h3>Address</h3></td><td></td></tr>
          <tr>
            <td><%= f.label('street_1', {value: 'Street Address 1'}) %> </td>
            <td><%= f.text('street_1', {placeholder: 'Street Address 1'}) %></td>
          </tr>
          <tr>
            <td><%= f.label('street_2', {value: 'Street Address 2'}) %> </td>
            <td><%= f.text('street_2', {placeholder: 'Street Address 2'}) %></td>
          </tr>
          <tr>
            <td><%= f.label('city', {value: 'City'}) %> </td>
            <td><%= f.text('city', {placeholder: 'City'}) %></td>
          </tr>
          <tr>
            <td><%= f.label('state', {value: 'State'}) %> </td>
            <td><%= f.text('state', {placeholder: 'State'}) %></td>
          </tr>
          <tr>
            <td><%= f.label('country', {value: 'Country'}) %> </td>
            <td><%= f.select('country', countries) %></td>
          </tr>
          <tr>
            <td><%= f.label('zip', {value: 'Zip'}) %> </td>
            <td><%= f.text('zip', {placeholder: 'Country'}) %></td>
          </tr>
          <tr>
            <td><%= f.label('is_admin', {value: 'Administrator'}) %> </td>
            <!-- A checkbox -->
            <td><%= f.checkbox('is_admin') %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.hidden('id') %></td>
          </tr>
          <tr><td><input type="submit" value="Submit" id="submit_contact_form"></td></tr>
        </table>
        <%= f.end() %>
      <% }) %>
    </script>

    <!-- main page content -->
    <div id="content">
      <h3>Contact form</h3>
      <div id="form-container">
      </div>
    </div>

  </body>

</html>


